<!doctype html>
<head>
    <meta charset="utf-8">

    <title>{{title}}</title>
    <meta name="description" content="{{description}}">
    <meta name="keywords" content="{{keywords}}">
    <meta name="author" content="dyktek">
    <style type="text/css">
        @font-face {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
        }
        @font-face {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 600;
            src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://fonts.gstatic.com/s/opensans/v10/MTP_ySUJH_bn48VBG8sNSugdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
        }
    </style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/styles.css">

    <script data-main="/js/main" src="/js/libs/require/require.js"></script>

</head>
<body>

<a class="logo"></a>

<div class="wrap">
    <div class="cloud"></div>
</div>


<nav class="navbar navbarOver navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <div class="navbar-toggle navbar-toggleOver collapsed smallMenu" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">

                <div class="item">
                    <a href="/">GŁÓWNA</a>
                </div>
                <div class="item">
                    <a href="/categories">KATEGORIE</a>
                </div>
                <div class="item">
                    <a href="/#/p/dosbox">DOSBox</a>
                </div>
                <div class="item">
                    <a href="#">DODAJ</a>
                </div>
                <div class="item">
                    <a href="/#/contact">KONTAKT</a>
                </div>

            </div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <div id="menu">
                <div class="mario"></div>

                <div class="item" style="left:0px;">
                    <a href="/">GŁÓWNA</a>
                </div>
                <div class="item" style="left:200px;">
                    <a href="/categories">KATEGORIE</a>
                </div>
                <div class="item" style="left:400px;">
                    <a href="/page/dosbox">DOSBox</a>
                </div>
                <div class="item" style="left:600px;">
                    <a href="#">DODAJ</a>
                </div>
                <div class="item" style="left:800px;">
                    <a href="/contact">KONTAKT</a>
                </div>
            </div>
        </div>
    </div>
</nav>
<!--<div id="grain"></div>-->
<div class="container" id="content">
    {{{ content }}}
</div>


<footer id="footer" class="footer">
</footer>

</body>
</html>
