body {
    background: #5c94fc;
    font-family: 'Open Sans', sans-serif;
    font-size: white;
    padding:0px;
    margin: 0px;
}
a {
    color: white;
    font-size: 12px;
    text-decoration: none;
}
a:hover {
    color: #ada7aa;
    font-size: 12px;
    text-decoration: none;
}

a.logo {
    background: url( '../images/sprite_001.png' ) -10px -133px;
    width: 348px;
    height: 33px;
    display: block;
    margin: 6px;
}
.wrap {
    overflow: hidden;
    width: 100%;
    position:absolute;
    height: 123px;
    top:0px;
    left:0px;
}
.cloud {
    background:url("http://localhost/staregrynew/images/sprite_001.png") 0px -171px;
    position:absolute;
    left:-245px;
    top:0;
    width: 245px;
    height: 123px;
    -webkit-animation:cloud 35s linear infinite;
    -moz-animation:cloud 35s linear infinite;
    -o-animation:cloud 35s linear infinite;
    -webkit-transform:translate3d(0,0,0);
    -moz-transform:translate3d(0,0,0);
    -o-transform:translate3d(0,0,0)
}
@-webkit-keyframes cloud {
    0% {
        left:-245px;
    }
    100% {
        left:100%
    }
}

@-moz-keyframes cloud {
    0% {
        left:-245px;
    }
    100% {
        left:100%
    }
}

div#menu {
    padding: 0px;
    margin: 100px auto;
    position: relative;
    width: 948px;
}
div#menu div.item {
    background: url( '../images/sprite_001.png' ) 0px 0px;
    display: block;
    float: left;
    border: 2px solid #000;
    width: 143px;
    height: 63px;
    position: absolute;
    top: 88px;
    left: 0px;
    top: 84px;
    cursor:pointer;
}

div#menu div.item a, div#menu div.item a  {
    font-size: 20px;
    display: block;
    width:143px;
    height: 64px;
    text-align: center;
    line-height: 64px;
}
div#menu div.item a:hover {
    color: white;
}

div.mario, div.mario .flip {
    background: url( '../images/sprite_001.png' ) -145px 0px;
    width: 111px;
    height: 109px;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}
.flip {
    background: url( '../images/sprite_001.png' ) -255px 0px!important;
}

#content {
    margin: 400px auto;
    position: relative;
    width: 948px;

}

#footer {
    width: 100%;
    height: 66px;
    background: url( '../images/foot.gif' ) repeat-x;
    bottom: 0px;
}

ul.catList {
    list-style-type: none;
}
ul.catList li {
    display: block;
    border: 2px solid #000;
    text-align: center;
    background: #3BB700;
    padding: 10px;
    margin: 3px;
    width: 160px;
    -webkit-animation: in 1s;
    -moz-animation: in 1s;
    -o-animation: in 1s;
}
ul.catList li:hover {
    -webkit-animation: out 1s;
    -moz-animation: out 1s;
    -o-animation: out 1s;
}
/*@-webkit-keyframes in {*/
    /*from   { width: 160px; }*/
    /*to { width: 200px; }*/
/*}*/

/*@-webkit-keyframes out {*/
    /*0%   { width: 200px; }*/
    /*100% { width: 160px; }*/
/*}*/

/*@-moz-keyframes in {*/
    /*from   { -webkit-transform: rotate(0deg); }*/
    /*to { -webkit-transform: rotate(360deg);}*/
/*}*/

/*@-moz-keyframes out {*/
    /*0%   { -webkit-transform: rotate(360deg); }*/
    /*100% { -webkit-transform: rotate(0deg); }*/
/*}*/

ul.catList li a {
    font-size: 18px;
    display: block;
}
ul.catList li a:hover {
    text-decoration: none;
    color: #fff;
}