<!--<div class="friends">-->
    <!--<a class="leave-it" href="http://www.fajnegry.krakow.pl" target="_blank" title="gry,stare gry">Stare Gry</a>  <a class="leave-it" href="http://e-gry.net" title="Darmowe Gry Online">Super Gry Online</a>-->
<!--</div>-->
