<div class="textCont slideLeft">
    <div class="translucent"></div>
    <div class="contAll">

        <h1 class="text-center">Trwa pobieranie gry <strong>{{name}}</strong> ({{platform}}), proszę czekać</h1>
        <br>
        <br>

        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- staregry_gra -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-2925502471096316"
             data-ad-slot="3879855801"
             data-ad-format="auto"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>

        <br>
        <br>

    </div>
</div>
