<h1><a href="/#/c/<%= data.game.get("kategoria") %>/<%= data.game.get("kategoria_link") %>"><%= data.game.get("dzial") %></a> &raquo; <a href="/#/g/<%= data.game.get("id") %>/<%= data.game.get("nazwa_link") %>"><%= data.game.get("nazwa_gry") %></a> (<%= data.game.get("platforma") %>)</h1>
<br />
<div class="row expandUp">
    <div class="col-md-4">
        <img class="center-block" src="http://staregry.dyk.pl/images/<%= data.game.get('screen') %>">
        <br>
        <p>
            <div class="btnDownload">POBIERZ</div>
        </p>

        <br>
        <!--<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>-->
        <!--&lt;!&ndash; staregry_gra &ndash;&gt;-->
        <!--<ins class="adsbygoogle"-->
             <!--style="display:block"-->
             <!--data-ad-client="ca-pub-2925502471096316"-->
             <!--data-ad-slot="3879855801"-->
             <!--data-ad-format="auto"></ins>-->
        <!--<script>-->
            <!--(adsbygoogle = window.adsbygoogle || []).push({});-->
        <!--</script>-->
    </div>

    <div class="col-md-8">
        <table class="table">
            <tr>
                <td class="text-nowrap"><strong>PRODUCENT:</strong></td><td><%= data.game.get("producent") %></td>
            </tr>
            <tr>
                <td class="text-nowrap"><strong>ROK WYDANIA:</strong></td><td><%= data.game.get("rok") %></td>
            </tr>
            <tr>
                <td class="text-nowrap"><strong>DATA DODANIA:</strong></td><td><%= data.game.get("data") %></td>
            </tr>
            <tr>
                <td class="text-nowrap"><strong>ILOŚĆ POBRAŃ:</strong></td><td><%= data.game.get("pobran") %></td>
            </tr>
            <tr>
                <td class="text-nowrap"><strong>OPIS GRY:</strong></td><td><%= data.game.get("opis") %></td>
            </tr>
        </table>

    </div>
</div>