<h1><a href="/categories/{{cat_slug}}">{{cat_name}}</a> &raquo; <a href="/game/{{slug}}">{{name}}</a> ({{platform}})</h1>
<br />
<div class="row expandUp">
    <div class="col-md-4">
        <img class="center-block" src="http://staregry.dyk.pl/images/{{screen}}">
        <br>
        <p>
            <div class="btnDownload">POBIERZ</div>
        </p>

        <br>
        <!--<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>-->
        <!--<!-- staregry_gra -->-->
        <!--<ins class="adsbygoogle"-->
             <!--style="display:block"-->
             <!--data-ad-client="ca-pub-2925502471096316"-->
             <!--data-ad-slot="3879855801"-->
             <!--data-ad-format="auto"></ins>-->
        <!--<script>-->
            <!--(adsbygoogle = window.adsbygoogle || []).push({});-->
        <!--</script>-->
    </div>

    <div class="col-md-8">
        <table class="table">
            <tr>
                <td class="text-nowrap"><strong>PRODUCENT:</strong></td><td>{{producer}}</td>
            </tr>
            <tr>
                <td class="text-nowrap"><strong>ROK WYDANIA:</strong></td><td>{{year}}</td>
            </tr>
            <tr>
                <td class="text-nowrap"><strong>DATA DODANIA:</strong></td><td>{{created_at}}</td>
            </tr>
            <tr>
                <td class="text-nowrap"><strong>ILOŚĆ POBRAŃ:</strong></td><td>{{downloaded}}</td>
            </tr>
            <tr>
                <td class="text-nowrap"><strong>OPIS GRY:</strong></td><td>{{description}}</td>
            </tr>
        </table>

    </div>
</div>